# Django framework
Django>=4.2,<5.0

# Django REST Framework
djangorestframework>=3.15,<4.0

# Kafka client cho Python
kafka-python>=2.1,<3.0

# Faker để tạo dữ liệu giả (nếu cần gửi nhiều request demo)
Faker>=23.0

# Thư viện gửi HTTP request (cho script gửi order test)
requests>=2.31

# CORS nếu frontend gọi API từ domain khác
django-cors-headers>=4.0

# Dotenv để quản lý biến môi trường (bootstrap_servers, topic...)
python-dotenv>=1.1

# Gunicorn nếu deploy production Django
gunicorn>=21.2

# Gửi message
requests
faker
